/* root colors */

:root {
    --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #198754;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #0dcaf0;
    --light: #f8f9fa;
    --dark: #212529;    
}

@font-face {
    font-family: poppins;
    src: url(../font/Poppins/Poppins-Medium.ttf);
}

*{
    margin: 0 0;
    padding: 0 0;
    font-family: poppins;
}